@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FF8E25;
    /* background: linear-gradient(#4CAF50, #008CBA); */
    /* background: linear-gradient(to bottom, #ff8a00, #da1b60); */
}


.container {
    background-color: white;
    width: 90vmin;
    padding: 50px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);

}

.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 14px;

}

button {
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 3px;
    color: #020929;
    background-color: #fff;
    cursor: pointer;
}

select {
    padding: 7px;
    border-radius: 6px;
    background-color: rgb(235, 235, 235);
    border: none;
}

.options label,
.options select {
    font-family: "Poppins", sans-serif;

}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 8px;
    /* box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929; */
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

#text-input {
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow-y: auto;
    padding: 20px;
    height: 40vh;
}

.active {
    background-color: #e0e9ff;
}